<form role="form">
  <div class="form-group">
    <label for="codeRootPath" class="col-md-2">代码根目录</label>
    <input id="codeRootPath" class="col-md-8" [formControl]="codeRootPath">
    <button class="col-md-1">..</button>
  </div>

  <div class="form-group">
    <label for="fromBranch" class="col-md-2">from</label>
    <input id="fromBranch" class="col-md-2" [formControl]="fromBranch">
    <!--</div>-->
    <!--<div class="form-group">-->
    <label for="toBranch" class="col-md-2">to</label>
    <input id="toBranch" class="col-md-2" [formControl]="toBranch">
  </div>
  <div class="form-group">
    <button (click)="check_conflict()">冲突检测</button>
    <button (click)="do_merge()">merge</button>
    <button (click)="do_push()">push</button>
  </div>
  <div class="form-group">
    <label for="command">command</label>
    <input id="command" name="command" #command [formControl]="command">
    <button (click)="run_cmd(command.value)">执行</button>
  </div>
  <div class="form-group">
    <label for="result">执行结果</label>
    <textarea id="result">{{result  |json}}</textarea>
    <!--<h4>{{result | json}}</h4>-->
    <!--<h5>{{stdout}}</h5>-->
    <!--<h6>{{stderr}}</h6>-->
    <!--<span>{{error}}</span>-->
  </div>
</form>
